 .cent-right {
 	text-align: right !important;
 }

 .cent-left {
 	text-align: left !important;
 }

 .cent-hidden{
 	display: none !important;
 }

 label{
 	font-weight: bold !important;
 }

 @media (max-width: 768px) {
  .cent-right {
      text-align: center !important;
      padding-top: 10px !important;
   }

   .cent-left {
      text-align: center !important;
   }
}

.clickable_row{
        cursor: pointer;
    }
.clickable_row.selected{
    background-color: #c9fcff;
}

.clickable_row.selected:hover{
    background-color: #02baae;
    color: white;
}

small{
  padding-top: 5px;
  font-weight: bold !important;
}

.form-control{
  border-color: #7f848a !important;
}

.form-control:focus{
  border-color: #80bdff !important;
}

.btn-success {
  color: #212529;
  background-color: #009e00; 
  color: white;
}

.btn-success:hover {
  background-color: #006b00; 
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem;
  background-color: #006b00; 
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle { 
  background-color: #006b00;
  color: white;
  border-color: #3dcc3d;
}

.btn-primary {
  color: #212529;
  background-color: #0285d1; 
  color: white;
}

.btn-primary:hover {
  background-color: #005c91; 
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem;
  background-color: #005c91; 
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle { 
  background-color: #005c91;
  color: white; 
}

.btn-warning {
  color: #212529;
  background-color: #f27900; 
  color: white;
}

.btn-warning:hover {
  background-color: #f29100; 
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem;
  background-color: #f29100; 
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle { 
  background-color: #f29100;
  color: white; 
}

.card .card-body {
  padding: 20px !important;
}

.btn {
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important; 
}

.select2-selection {
  height: 100% !important; 
}

.select2 { 
  width: 100% !important;
}

.text-success {
  color: #00a800 !important;
}

div.dataTables_wrapper div.dataTables_length select{
  margin-top: 2px !important;
}

.bg-success{
  background-color: #00851d !important;
}

.bg-warning{
  background-color: #e88f00 !important;
}

.bg-danger{
  background-color: #cf000a !important;
}

.card{
  margin-bottom: 10px;
}

.modal { overflow: auto !important; }